@use './styles/_base.scss' as base;
@use './styles/_variables.scss' as variables;

#app {
  max-width: 100%;
  width: 100%;
  font-weight: normal;
}

/* SearchableListWrapper */
.searchable-list-wrapper ol li{
    font-size: 1.5rem;
    /* margin: 1rem; */
}

.content-wrapper {
  width: 90%;
  max-width: 100%;
  margin: 2% auto;
  padding: 0 1rem;
}

body * {
  font-family: 'Everdell', sans-serif;
  font-weight: normal;
}

.min-vh-100 {
  min-height: 100vh;
}

.formula{
  font-family: sans-serif;
}

