@use './_variables.scss' as variables;

.article{

    width: 100%;
    margin:5% 0;
    
    .main-list{
        li{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }

    .subtitle-list{
        margin:15px 0;
        li{
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
        p{
            font-size: 1.0rem;
        }
        &.code li{
            list-style-type: disclosure-closed;
        }
    }

    .normal-list{
        margin:15px 0;
        li{
            font-size: 1.0rem;
            margin-bottom: 0.5rem;
        }
        &.code li{
            list-style-type: disclosure-closed;
        }
    }

    p{
        margin: 10px 0;
        // padding: 0.5rem;
        font-size: 1.0rem;
    }

    .subtitle-span{
        font-size: 1.2rem;
        font-weight: bold;
        margin: 10px 0;
        color: variables.$ice !important;
    }

    .comments{
        margin: 10px 0;
        padding: 0.5rem;
        font-size: 1.0rem;
        color: white !important;
        border-radius: 5px;
    }
}
